<!-- /.box-header -->
<!-- form start -->
<div>
  
    <div  class="box box-primary">
      <form role="form" name="productCategoryFormValidate" ng-submit="main.editProductCategory()" novalidate>
        <div class="box-header with-border">
          <h3 class="box-title">Edit Product Category</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
                <label>Code</label>
                <input type="text" class="form-control" ng-model="main.productCategory.Code" placeholder="example: SMGA"  max-length="50" required readonly>
                <span style="color:red" ng-show="productCategoryFormValidate.Code.$dirty && productCategoryFormValidate.Code.$invalid "> 
          </div>
          <div class="form-group" id="scrollable-dropdown-menu">
              <label for="exampleInputBranch">Brand</label></br>
              <input type="text" class="form-control" name="brandId" autocomplete="off" ng-model="main.productCategory.BrandCode" uib-typeahead="item as item.Code +' ('+ item.Name +')' for item in main.brands | filter:$viewValue"
                typeahead-on-select="main.selectBrand(main.productCategory.BrandCode)" placeholder="Brand" required>
                <div ng-if="main.errors.details.messages.BrandCode[0]">
                  <div style="color:red"> {{main.errors.details.messages.BrandCode[0]}}</div>
                 </div>
          </div>
          
          <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" ng-model="main.productCategory.Name" placeholder="example: samsung a series" max-length="255" required >
              <span style="color:red" ng-show="productCategoryFormValidate.Name.$dirty && productCategoryFormValidate.Name.$invalid "> 
          </div>
  
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
                <a href="#" ui-sref="viewProductCategory" class="btn btn-warning">Cancel</a>
          </div>
      </form>
      </div>
    </div>