<div ng-controller="productEditCtrl as main">
    <div class="box box-primary">
        <form role="form" name="productFormValidate" ng-submit="main.updateProduct(main.editProduct)" novalidate>
            <div class="box-header with-border">
                <h3 class="box-title">Edit Product</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" id="scrollable-dropdown-menu">
                            <label for="exampleInputBranch">BrandCode</label></br>
                            <input type="hidden" name="brandCode" ng-model="main.editProduct.BrandCode">
                            <input type="text" class="form-control" name="brandId" autocomplete="off" ng-model="main.selectedTestBrand" uib-typeahead="item as item.Code +' ('+ item.Name +')' for item in main.brands | filter:$viewValue"
                                typeahead-on-select="main.selectBrand(main.selectedTestBrand)" placeholder="Type brand code" required disabled>
                            <div ng-if="main.errors.details.messages.BrandCode[0]">
                                <div class="text-danger">
                                    {{main.errors.details.messages.BrandCode[0]}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputCode">Code</label>
                            <input type="text" name="Code" autocomplete="off" class="form-control" ng-model="main.editProduct.Code" placeholder="Code"
                                disabled>
                            <div ng-if="main.errors.details.messages.Code[0]">
                                <div class="text-danger"> {{main.errors.details.messages.Code[0]}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputSKU">SKU</label>
                            <input type="text" name="SKU" autocomplete="off" class="form-control" ng-model="main.editProduct.SKU" placeholder="SKU" required>
                            <div ng-if="main.errors.details.messages.Code[0]">
                                <div class="text-danger"> {{main.errors.details.messages.Code[0]}}</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">Name</label>
                            <input type="text" name="Name" autocomplete="off" class="form-control" ng-model="main.editProduct.Name" placeholder="Name"
                                required>
                            <div ng-if="main.errors.details.messages.Name[0]">
                                <div class="text-danger"> {{main.errors.details.messages.Name[0]}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputDescription">Description</label>
                            <input type="text" name="Desc" autocomplete="off" class="form-control" ng-model="main.editProduct.Description" placeholder="Description"
                                required>
                            <div ng-if="main.errors.details.messages.Description[0]">
                                <div class="text-danger"> {{main.errors.details.messages.Description[0]}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFile">Logo</label>
                            <input type="file" id="productImage" fileread="main.editProduct.Image"  required ng-model="main.editProduct.Image">
                            <img src="{{main.updateImagePreview()}}" class="img-responsive" alt="Image preview..." />
                            <input type="hidden" ng-model="main.editProduct.Image" value="{{main.editProduct.Image}}" required>
                        </div>

                    </div>
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="exampleInputPrice">Price</label>
                            <input type="number" name="Price" autocomplete="off" class="form-control" ng-model="main.editProduct.Price" placeholder="Price"
                                required>
                            <div ng-if="main.errors.details.messages.Price[0]">
                                <div class="text-danger"> {{main.errors.details.messages.Price[0]}}</div>
                            </div>
                            <div ng-if="main.errors.details.messages.Price[1]">
                                <div class="text-danger"> {{main.errors.details.messages.Price[1]}}</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputDP">DP (%)</label>
                            <input type="number" name="DP" autocomplete="off" class="form-control" maxlength="2" ng-model="main.editProduct.DP" placeholder="example 50 for 50%"
                                required>
                            <div ng-if="main.errors.details.messages.DP[0]">
                                <div class="text-danger"> {{main.errors.details.messages.DP[0]}}</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputSpecification">Specification :</label>&nbsp;&nbsp;<a class="btn btn-xs btn-info"
                                ng-click="main.AddSpecification()"><i class="fa fa-plus"></i></a> &nbsp;
                            <div ng-if="main.errors.details.messages.Specification[0]">
                                <div class="text-danger"> {{main.errors.details.messages.Specification[0]}}</div>
                            </div>
                        </div>

                        <div ng-repeat="spec in main.specifications track by $index" class="form-group row">
                            <div class="col-md-3">
                                <input type="text" autocomplete="off" class="form-control" ng-model="spec.key" ng-change="main.getSpec()" required>
                            </div>
                            <div class="col-md-7">
                                <input type="text" autocomplete="off" class="form-control" ng-model="spec.value" ng-change="main.getSpec()" required>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-sm btn-default" ng-click="main.RemoveSpecification($index)"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputWeight">Weight (Kilo)</label>
                                    <input type="number" name="Weight" autocomplete="off" class="form-control" ng-model="main.editProduct.Weight" placeholder="in kilos"
                                        required>
                                    <div ng-if="main.errors.details.messages.Weight[0]">
                                        <div class="text-danger"> {{main.errors.details.messages.Weight[0]}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputWidth">Width (cm)</label>
                                    <input type="number" name="Width" autocomplete="off" class="form-control" ng-model="main.editProduct.Width" placeholder="in centimeters"
                                        required>
                                    <div ng-if="main.errors.details.messages.Width[0]">
                                        <div class="text-danger"> {{main.errors.details.messages.Width[0]}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputHeight">Height (cm)</label>
                                    <input type="number" name="Height" autocomplete="off" class="form-control" ng-model="main.editProduct.Height" placeholder="in centimeters"
                                        required>
                                    <div ng-if="main.errors.details.messages.Height[0]">
                                        <div class="text-danger"> {{main.errors.details.messages.Height[0]}}</div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputLength">Length (cm)</label>
                                    <input type="number" name="Length" autocomplete="off" class="form-control" ng-model="main.editProduct.Length" placeholder="in centimeters"
                                        required>
                                    <div ng-if="main.errors.details.messages.Length[0]">
                                        <div class="text-danger"> {{main.errors.details.messages.Length[0]}}</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="#" ui-sref="app.viewProducts" class="btn btn-warning">Cancel</a>
            </div>
        </form>
    </div>
</div>