<div ng-controller="UserDealerMappingController as main">
    <div class="box box-primary">
        <form role="form" name="brandForm" ng-submit="main.register(main.newBrand)" novalidate>
            <div class="box-header with-border">
                <h3 class="box-title">Mapping Dealer</h3>
            </div>
            <div class="box-body row">
                <div class="col-sm-12 form-group">
                    <label class="col-sm-2" for="">Username</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="username" ng-model="main.user.username" placeholder="Code"
                            readonly></div>
                </div>
                <div class="col-sm-12 form-group">
                    <label class="col-sm-2" for="">Email</label>
                    <div class="col-sm-10"><input type="email" name="email" class="form-control" ng-model="main.user.email" placeholder="Name" readonly></div>
                </div>
                <div class="col-sm-12 form-group">
                    <label class="col-sm-2" for="">Dealer</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="dealer" autocomplete="off" ng-model="selectedDealer" uib-typeahead="dealer as dealer.Name for dealer in main.getDealer($viewValue)"
                            typeahead-on-select="main.selectDealer(selectedDealer)" placeholder="Type Dealer" required>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-body">
                <button type="submit" ng-click="main.saveDealerMapping()" class="btn btn-primary">Save</button>
            </div>
            <hr>
            <div class="box-header with-border">
                <h3 class="box-title">This user mapped to following Dealer:</h3>
            </div>
            <div class="box-body row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hovered">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Active?</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="dealer in main.mappedDealer">
                            <td>{{dealer.DealerCode}}</td>
                            <td>{{dealer.Dealers.Name}}</td>
                            <td>{{dealer.Active}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>