body {
    padding: 0px;
}

.item {
    cursor: pointer;
    border-top: 1px #CCC solid;
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    margin: 0px;
    padding: 10px;
}

.item:last-child {
    border-bottom: 1px #CCC solid;
}

.text-strikethrough {
    text-decoration: line-through;
}

.active {
    background-color: #EEE;
}

#scrollable-dropdown-menu .dropdown-menu {
	max-height: 300px;
	overflow-y: auto;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}