<div class="box box-primary">
    <div class="box-header">
        <h2 div class="box-title"> Assign Order </h2>
        <h4> <b>No. Order : {{main.assignOrder.Code}}</b></h4>
        <div class="col-sm-12">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-5">
                        <form role="form" ng-submit="main.updateOrder(main.assignOrder)" novalidate>
                            <div class="box-body">
                                <!--<div class="form-group" id="scrollable-dropdown-menu">
                                    <label for="DealerCode">Dealer Code</label></br>
                                    <input type="text" class="form-control" name="dealerCode" autocomplete="off" ng-model="selectedDealer" uib-typeahead="item as item.Code +' ('+ item.Name +') ' for item in main.dealers | filter:$viewValue"
                                        typeahead-on-select="main.selectDealer(selectedDealer)" placeholder="Dealer Code" required>
                                    <div ng-if="main.errors.details.messages.dealerCode[0]">
                                        <div style="color:red"> {{main.errors.details.messages.dealerCode[0]}}</div>
                                    </div>
                                    <span style="color:green" ng-if="productFormValidate.dealerCode.$valid"> Valid </span>
                                </div>-->

                                <div class="form-group">
                                    <label for="editedDealerCode">Dealer Code</label>
                                    <input type="text" class="form-control" ng-model="main.assignOrder.DealerCode" disabled>
                                    <div ng-if="main.errors.details.messages.DealerCode[0]">
                                    <div style="color:red"> {{main.errors.details.messages.DealerCode[0]}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="editedOrderCode">Code</label>
                                    <input type="text" class="form-control" ng-model="main.assignOrder.Code" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="Code">Kiosk Code</label>
                                    <input type="text" class="form-control" ng-model="main.assignOrder.KioskCode" disabled>
                                </div>

                                <div class="form-group">
                                    <label for="DP">DP</label>
                                    <input type="text" class="form-control" ng-model="main.assignOrder.DP" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="Discount">Discount</label>
                                    <input type="text" class="form-control" ng-model="main.assignOrder.Discount" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="DiscountNominal">DiscountNominal</label>
                                    <input type="text" class="form-control" ng-model="main.assignOrder.DiscountNominal" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="exampleEditDP">DP</label>
                                    <input type="text" class="form-control" ng-model="main.assignOrder.TotalPrice" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="TotalQty">Total Qty</label>
                                    <input type="text" class="form-control" ng-model="main.assignOrder.TotalQty" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="Destination">Destination</label>
                                    <input type="text" class="form-control" ng-model="main.assignOrder.Destination" disabled>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Assign</button>
                                <button type="button" class="btn btn-primary" ng-click="main.cancelEditing()">Cancel</button>
                            </div>
                        </form>
                    </div>


                    <div class="col-sm-7">
                        <form role="form" novalidate>
                            <div class="box-title">Store Table</div>
                            <div class="box-body">

                                <div class="form-group">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <th>Dealer</th>
                                            <th>Product</th>
                                            <th>Available</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="productDealer in main.productDealers " ng-click="main.setDealerCode(productDealer)">
                                                <td> {{productDealer.DealerCode}} </td>
                                                <td> {{productDealer.ProductCode}} </td>
                                                <td class="bg-green color-palette" ng-if="productDealer.IsAvailable == true"> <i class ="fa fa-check" aria-hidden="true"></td>
                                                <td class="bg-red-active color-palette" ng-if="productDealer.IsAvailable == false"> <i class ="fa fa-times" aria-hidden="true"></td>

                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>