
<div class="row" ng-controller="newOrderCtrl as main">
        <div class="col-sm-12">
          <div class="box box-primary">
            <div class="box-header">
            <h3 class="box-title">NEW ORDERS DATA TABEL</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" ng-if="main.isShow">
            <form class="form-inline">
          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-right form-group">
              <label>
                    Search :
                    <input type="text" ng-model="search" class="form-control input-sm">
                  </label>

            </div>
          </div>
            </form>
          <div class="row">
          <div class="col-md-12">
              <table class="table table-bordered table-hover">
                <thead>
                <th>Code</th>
                <th>Kiosk</th>
                <th>Dealer</th>
                <th>DP</th>
                <th>Disc</th>
                <th>Disc Nominal</th>
                <th>Total Price</th>
                <th>Request Date</th>
                <th>Delivery Date</th>
                <th>Total Qty</th>
                <th>Destination</th>
                </thead>
                <tbody>
                    <tr dir-paginate="order in main.orders | filter:search |itemsPerPage:10 " ng-class="{'active':main.isCurrentOrder(order.Code)}" >
                    <td>{{order.Code}} </td>
                    <td>{{order.KioskCode}} </td>
                    <td>{{order.DealerCode}} </td>
                    <td>{{order.DP}} </td>
                    <td>{{order.Discount}} </td>
                    <td>{{order.DiscountNominal}} </td>
                    <td>{{order.TotalPrice}} </td>
                    <td>{{order.RequestDate}} </td>
                    <td>{{order.DeliveryDate}} </td>
                    <td>{{order.TotalQty}} </td>
                    <td>{{order.Destination}} </td>
                    <td>
                   <a type="button" class="btn btn-xs btn-default" ng-click="main.setViewOrder(order)"><i class = "fa fa-file"></i></a>  &nbsp;
                  <a type="button" class="btn btn-xs btn-danger" ng-click="main.deleteOrder(order.Code)"><i class = "fa fa-trash"></i></a>  &nbsp;
                  <a type="button" class="btn btn-xl btn-default" ng-click="main.setEditedOrder(order)"><i class = "fa fa-tasks" ></i></a>  &nbsp;
                    </td>  
                    </tr>
                </tbody>
                
              </table>
              <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true" >
              </dir-pagination-controls>
            <!-- /.box-body -->
          </div>
          </div>
        </div>

    <div ng-if="main.isEditing">
      <h4> <b>Editing {{main.editedOrder.Code}}</b></h4>
      <form role="form" ng-submit="main.updateOrder(main.editedOrder)" novalidate>
        <div class="box-body">
          <div class="form-group" id="scrollable-dropdown-menu">
          <label for="DealerCode">Dealer Code</label></br>
          <input type="text" class="form-control" name="dealerCode" autocomplete="off" ng-model="selectedDealer" typeahead="item as item.Code +' ('+ item.Name +') ' for item in main.dealers | filter:$viewValue"
            typeahead-on-select="main.selectDealer(selectedDealer)" placeholder="Dealer Code" required>
            <div ng-if="main.errors.details.messages.dealerCode[0]">
              <div style="color:red"> {{main.errors.details.messages.dealerCode[0]}}</div>
            </div>
            <span style="color:green" ng-if ="productFormValidate.dealerCode.$valid"> Valid </span>
          </div>
          <div class="form-group">
            <input type="hidden" class="form-control" ng-model="main.editedOrder.DealerCode">
          </div>
          <div class="form-group">
            <label for="editedOrderCode">Code</label>
            <input type="text" class="form-control" ng-model="main.editedOrder.Code" disabled>
          </div>
          <div class="form-group">
            <label for="Code">Kiosk Code</label>
            <input type="text" class="form-control" ng-model="main.editedOrder.KioskCode"  disabled>
          </div>

          <div class="form-group">
            <label for="DP">DP</label>
            <input type="text" class="form-control" ng-model="main.editedOrder.DP" disabled>
          </div>
          <div class="form-group">
            <label for="Discount">Discount</label>
            <input type="text" class="form-control" ng-model="main.editedOrder.Discount" disabled >
          </div>
          <div class="form-group">
            <label for="DiscountNominal">DiscountNominal</label>
            <input type="text" class="form-control" ng-model="main.editedOrder.DiscountNominal" disabled>
          </div>
          <div class="form-group">
            <label for="exampleEditDP">DP</label>
            <input type="text" class="form-control" ng-model="main.editedOrder.TotalPrice" disabled>
          </div>
          <div class="form-group">
            <label for="TotalQty">Total Qty</label>
            <input type="text" class="form-control" ng-model="main.editedOrder.TotalQty" disabled>
          </div>
          <div class="form-group">
            <label for="Destination">Destination</label>
            <input type="text" class="form-control" ng-model="main.editedOrder.Destination"  disabled>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Assign</button>
          <button type="button" class="btn btn-primary" ng-click="main.cancelEditing()">Cancel</button>
        </div>
      </form>
    </div>

      <div class="box-body" ng-if="main.isView">
              <form class="form-inline">
                <div class="row">
                  <div class="col-md-6 text-right form-group">
                  </div>
                </div>
              </form>
                <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                      <thead>
                      <th>Code</th>
                      <th>Product Code</th>
                      <th>Retur</th>
                      <th>Price</th>
                      <th>DP Nominal</th>
                      <th>IMEI</th>
                      <th>Status</th>
                      </thead>
                      <tbody>
                          <tr dir-paginate="orderDetail in main.ordersDetails | filter:search |itemsPerPage:10 " ng-class="{'active':main.isCurrentOrderDetail(orderDetail.Code)}" >
                          <td>{{orderDetail.Code}} </td>
                          <td>{{orderDetail.ProductCode}} </td>
                          <td>{{orderDetail.IsRetur}} </td>
                          <td>{{orderDetail.Price}} </td>
                          <td>{{orderDetail.DPNominal}} </td>
                          <td>{{orderDetail.IMEI}} </td>
                          <td>{{orderDetail.Status}} </td>
                          </tr>
                      </tbody>
                      
                    </table>
                    <dir-pagination-controls
                      max-size="5"
                      direction-links="true"
                      boundary-links="true" >
                    </dir-pagination-controls>
                  <!-- /.box-body -->
                </div>
                </div>
              <div class="box-footer">
                <div class="form-group">
                  <button type="button" class="btn btn-primary" ng-click="main.cancelView()">Back</button>
                </div>

            </div>
            </div>
        <!-- /.col -->
        
      </div>
    </div>  
  </div>
  